.mi-propia-clase{
    color:rgb(220, 83, 181)
}
/*.color-nav{
    background-color: rgb(255, 0, 89);
  
}
.color-nav a{
    color: #fff;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(206 255 143);
}

.form-control {
    background-color: #ffffff;
    color: black;
}*/